services:
  nginx:
    image: nginx:1.28
    container_name: magento-nginx
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php
    restart: unless-stopped


  php:
    build: ./docker/php
    container_name: magento-php
    volumes:
      - ./src:/var/www/html
    env_file:
      - .env
    restart: unless-stopped


  mysql:
    image: mysql:8.0
    container_name: magento-mysql
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    restart: unless-stopped


  redis:
    image: redis:7
    container_name: magento-redis
    restart: unless-stopped

  opensearch:
    image: opensearchproject/opensearch:2.12.0
    container_name: magento-opensearch
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=MinH@921197
      - plugins.security.disabled=true
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
    restart: unless-stopped

      #  elasticsearch:
      #    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.3
      #    container_name: magento-elasticsearch
      #    environment:
      #      - discovery.type=single-node
      #      - xpack.security.enabled=false
      #      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      #    volumes:
      #      - es_data:/usr/share/elasticsearch/data
      #    ports:
      #      - "9200:9200"
      #    restart: unless-stopped


volumes:
  mysql_data:
  opensearch_data:
    #  es_data: